/* Lottery Form */
.lottery-form{
    width: 50%;
}
.lottery-form .input[type="number"]{
    width: 300px;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    font-weight: 500;
    color: #151515;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 0px 10px;
    margin-bottom: 30px;
}
.lottery-form .input[type="number"]::-webkit-inner-spin-button,
.lottery-form .input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
}
.lottery-form .btn{
    cursor: pointer;
    display: block;
    width: 300px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    color: #fff;
    background-color: #003366;
    border-radius: 50px;
    padding: 15px 0px;
    margin-bottom: 30px;
    transition: background-color 0.5s ease;
}
.lottery-form .btn:hover{
    background-color: #225588;
}

/* Lottery Lists */
.lottery-list{
    width: 50%;
}
.lottery-list .lottery-set{
    margin-bottom: 20px;
}
.lottery-set .ball{
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    background-color: #d80000;
    border-radius: 50%;
    margin-right: 5px;
}